<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

    <style>
        
    </style>
</head>
<body>
    <form method="post" >
    <!-- </form>
        
      <form method="post" action="/contact"> -->
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword">
            <div id="passwordHelp" class="form-text">We'll never share your password with anyone else.</div>
        </div>
        <button type="submit" class="login-button">Sign Up</button>
      </form>
</body>
</html>
