.error{
    color:red;
    font-size: 0.7rem;
    text-align: right;
    margin: 1rem;
}

.login-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 5px; /* Add rounded corners */
}

/* Style the button on hover */
.login-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}